@import url("@angular/material/prebuilt-themes/deeppurple-amber.css");

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.default-layout {
  width: 60%;
  margin: auto;
}

.loading-layout {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fit-layout {
  width: 100%;
  height: 100%;
}

.content-centered-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-space-between {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
