.edit {
  padding: 15px;
}

.edit__field {
  margin: 0 5px;
  width: 100%;
}

.edit__short-field {
  width: 25%;
}

.highlighted {
  color: #004a7f;
}

.general-anime-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.anime-image {
  width: 100%;
}
