@import url("../global/index.css");

.title {
  color: var(--heading-color-1);
}

#pagination-controls > *,
#compressed-pagination > * {
  margin: 0 10px;
}

#anime-table {
  min-width: 400px;
  width: 30%;
  margin: 50px auto;
}

#anime-table thead th {
  position: relative;
  text-align: center;
  transition: 0.1s;
  padding: 20px 0;
}

#anime-table .toggle-button {
  position: absolute;
  width: auto;
  right: 5px;
  bottom: 0;
  transition: 0.1s;
  box-shadow: 0 0 5px #ccc, inset 0 0 5px #ccc;
}

#anime-table .toggle-button:hover {
  background: #0002;
}

#pagination-controls {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort button,
.filter button {
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

.sort button:focus,
.filter button:focus {
  background: none;
}
