.anime-table {
  width: 100%;
}

.anime-table__row {
  height: max-content;
}

.anime-search-fields {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px 0;
}

.anime-table__image {
  max-height: 150px;
  min-height: 150px;
}
