<table
  [trackBy]="trackById"
  mat-table
  *ngIf="animeList$ | async as animeList"
  [dataSource]="animeList"
  class="mat-elevation-z8 anime-table"
  aria-describedby="page-heading">
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let anime">
      <img [src]="anime.image" [alt]="anime.titleEnglish" class="anime-table__image">
    </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let anime">
      {{anime.titleEnglish | emptyValueHandler}} ({{anime.titleJapanese | emptyValueHandler}})
    </td>
  </ng-container>
  <ng-container matColumnDef="aired start">
    <th mat-header-cell *matHeaderCellDef>Aired start</th>
    <td mat-cell *matCellDef="let anime">
      {{anime.aired.start | date:"YYYY" | emptyValueHandler}}
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let anime">
      {{anime.status | animeStatus}}
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let anime">
      {{anime.type | animeType}}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="tableColumns" class="anime-table__heading-row"></tr>
  <tr mat-row *matRowDef="let row; columns: tableColumns" class="anime-table__row"></tr>
</table>
