<div class="content-centered-layout fit-layout">
  <form (ngSubmit)="handleSubmit()" [formGroup]="loginForm" class="mat-elevation-z8 form">
    <h1 class="mat-title">Login</h1>
    <div>
      <mat-form-field class="form__field" appearance="fill">
        <mat-label>
          Email
        </mat-label>
        <input
          type="text"
          autocomplete="email"
          placeholder="ex@example.com"
          matInput
          formControlName="email"
        >
        <mat-error *ngIf="loginForm.hasError('email')">{{ loginForm.getError('email') }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form__field" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          type="password"
          autocomplete="current-password"
          placeholder="********"
          matInput
          formControlName="password"
        >
        <mat-error *ngIf="loginForm.hasError('password')">{{ loginForm.getError('password') }}</mat-error>
      </mat-form-field>
    </div>
    <footer>
      <mat-error *ngIf="loginForm.hasError('detail')">{{ loginForm.getError('detail') }}</mat-error>
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >Login</button>
      <div class="content-space-between">
        <a routerLink="/">Go to main page</a>
        <a routerLink="../registration">Register</a>
      </div>
    </footer>
  </form>
</div>
