.details {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.details__sector {
  padding: 20px;
}

.details__media {
  width: 100%;
}

.details__trailer {
  height: 50%;
}

.details__info-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-list__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info-list__item-info {
  margin: 0 3px;
  text-decoration: underline dotted;
}

.details__image {
  cursor: zoom-in;
}
