<header class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="content-space-between">
      <h1>Anime catalog</h1>
      <div *ngIf="isAuthorized$ | async; else notAuthorizedUser">
        <button
          type="button"
          mat-button
          (click)="handleLogoutClick()"
        >
          Log out
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<ng-template #notAuthorizedUser>
  <div>
    <a mat-button color="basic" routerLink="/auth">Sign in</a>
    <a mat-button color="basic" routerLink="/auth/registration">Sign up</a>
  </div>
</ng-template>
