<header class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="content-space-between">
      <h1>Anime catalog</h1>
      <div *ngIf="isAuthorized$ | async; else notAuthorizedUser">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          type="button"
          mat-button
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-menu #menu="matMenu">
  <span mat-menu-item disabled>Hi, user!</span>
  <button
    type="button"
    mat-menu-item
    (click)="handleLogoutClick()"
  >
    <mat-icon>exit_to_app</mat-icon>
    Log out
  </button>
</mat-menu>

<ng-template #notAuthorizedUser>
  <div>
    <a mat-button color="basic" routerLink="/auth">Sign in</a>
    <a mat-button color="basic" routerLink="/auth/registration">Sign up</a>
  </div>
</ng-template>
