.toggleMenuWrapper {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
}

.toggleMenu {
  position: relative;
}

.toggleMenuButton {
  position: absolute;
  width: 60px;
  height: 25px;
  left: calc(50% - 30px);
}

.toggleMenuSlider {
  position: absolute;
  width: 100%;
  padding: 25px 0;
}
