.toggle-menu-wrapper {
  position: sticky;
  right: 0;
  top: 0;
  left: 0;
  
  /* "z-index: 1" is used to place the element on top of the others. */
  z-index: 1;
}

.toggle-menu {
  position: relative;
}

.toggle-menu-button {
  position: absolute;
  width: 60px;
  height: 25px;

  /*
   * "z-index: 2" is used to place the element on top of the others.
   * Also "z-index: 1" is used in class "toggleMenuWrapper".
   */
  z-index: 2;
  left: calc(50% - 30px);
}

.toggle-menu-slider {
  position: absolute;
  width: 100%;
  padding: 25px 0;
}
